<div>
  <h3>Add new car data</h3>
  <form class="form" #carForm="ngForm" (ngSubmit)="onSubmit()">
    <label
      >Owner name:
      <label class="red-text">*</label>
    </label>
    <input
      type="text"
      name="name"
      [(ngModel)]="name"
      placeholder="Add your name"
      required
      maxlength="100"
      minlength="1"
    />
    <label
      >Car plate number:
      <label class="red-text">*</label>
    </label>
    <input
      type="text"
      maxlength="6"
      minlength="6"
      pattern="^[a-zA-Z0-9]+$"
      name="number"
      [(ngModel)]="number"
      placeholder="Add plate number"
      required
    />
    <input
      type="submit"
      value="Submit"
      class="btn"
      [disabled]="!carForm.valid"
    />
  </form>
</div>
